--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers
tokenizers
huggingface-hub
safetensors
flask
flask-cors
gunicorn
python-dotenv
pymongo
dnspython
pyjwt
bcrypt
google-auth
google-auth-oauthlib
google-auth-httplib2
scikit-learn
scipy
numpy
sentencepiece
accelerate
requests
tqdm
itsdangerous